$main-color: #ee3643;
$cuprum: normal 400 Cuprum;
$cuprumBold: normal 700 Cuprum;
$cuprumBoldItalic: italic 700 Cuprum;
$cuprumItalic: 400 italic 'Cuprum';
$ptsans: normal 400 PTSans;
$ptsansBold: normal 700 PTSans; 
