
@import 'base/mixins';

.container {
    width: 940px;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}

@import 'blocks/links';
@import 'blocks/header';
@import 'blocks/information';
@import 'blocks/titles';
@import 'blocks/popular';
@import 'blocks/brands';
@import 'blocks/service';
@import 'blocks/company-contacts';
@import 'blocks/footer';
