.company-contacts {
    padding: 82px 0 55px;
    height: 536px;
    position: relative;
    &__items {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .company {
        width: 520px;
        &__items {
            position: relative;
            margin: 0;
            padding: 0;
            list-style-type: none;
            font-family: Cuprum;
            font-size: 18px;
            margin-top: 20px;
            margin-bottom: 37px;
            li {
                position: relative;
                padding-left: 35px;
                line-height: 1;
                margin-bottom: 22px;
                &:last-of-type {
                    margin: 0;
                }
                &:before {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 12px;
                    width: 25px;
                    height: 2px;
                    background-color: $main-color;
                }
            }
        }
        &__text {
            font-family: PTSans;
            font-size: 13px;
            font-weight: 400;
            font-style: normal;
            line-height: 1.85;
            color: #000;
            p {
                margin: 0;
            }
        }
    }
    .contacts {
        width: 300px;
        &__text {
            margin-bottom: 33px;
            max-width: 179px;
            font-family: PTSans;
            font-size: 13px;
            font-weight: 400;
            font-style: normal;
            line-height: 1.85;
        }
        &__mini-map {
            width: 100%;
            display: block;
            margin-bottom: 37px;
        }
        &__image {
            width: 100%;
        }
        &__button {
            background-color: $main-color;
            width: 300px;
            height: 38px;
            font-family: Cuprum;
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            color: #fff;
            text-align: center;
            border: none;
            border-radius: 3px;
            font-size: 13px;
            text-transform: uppercase;
        }
        &__open-map {
            display: none;
            position: absolute;
            top: -19px;
            left: 0;
            width: 100%;
            box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
            img {
                width: 100%;
            }
        }
        &__close {
            position: absolute;
            font-size: 41px;
            line-height: 21px;
            text-transform: uppercase;
            top: 5px;
            right: 9px;
            color: $main-color;
            cursor: pointer;
        }
    }
}