.footer {
    position: relative;
    background-color: #32425c;
    &__logo {
        position: absolute;
        width: 220px;
        height: 68px;
        top: 0;
        font-family: Cuprum;
        font-weight: 400;
        font-size: 25px;
        color: #fff;
        text-align: center;
        padding-top: 14px;
        text-transform: uppercase;
        box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
        background-color: $main-color;
    }
    &__navigation {
        position: relative;
        width: 100%;
        height: 193px;
        background-color: #32425c;
        padding-top: 42px;
    }
    
    &__navigation-items {
        display: flex;
        justify-content: space-between;
        margin-left: 373px;
        list-style-type: none;
        margin-bottom: 34px;
        padding: 0;
        font-family: Cuprum;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        a {
            color: #fff;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__adress {
        position: absolute;
        // bottom: 53px;
        top: 100px;
        font-family: Cuprum;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        color: #fff;
        margin: 0;
        a {
            color: #fff;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__catalog {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin-left: 412px;
        padding: 0;
        font-family: Cuprum;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        a {
            color: #ffd180;
            &:hover {
                text-decoration: underline;
            }

        }
    }
    &__info {
        height: 107px;
        background-color: #293449;
        padding: 40px 0 30px ;
        font-size: 13px;
        color: #fff;

    }
    &__info-items {
        display: flex;
    }
    &__social {
        display: flex;
        margin: 0;
        padding: 0;
        margin-right: 119px;
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        background-color: #212a3a;
        border-radius: 100%;
        margin-right: 3px;
        &:last-of-type {
            margin: 0;
        }
        &:hover {
          background-color: $main-color;  
        }
    }
    &__copyright {
        margin: 0;
        margin-right: 161px;
        width: 228px;
        color: #fff;
    }
    &__feedback {
        margin: 0;
        margin-right: 53px;
        a {
            color: #ffd180;
        }
    }
    &__developed {
        margin: 0;
        a {
            color: #ffd180;
        }
    }   

}