.header {
    background-color: #f3f7f9;
    height: 320px;
    padding-bottom: 60px;
    padding-top: 88px;
    &__links {
        position: fixed;
        background-color: #293449;
        height: 42px;
        width: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-family: Cuprum;
        z-index: 5;
        font-weight: 400;
    }
    &__links-items {
        height: 100%;
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: flex;
            align-items: center;
            color: #fff;
            a {
                text-decoration: none;
                color: #fff;
                margin: 0;
                height: 17px;
                font-size: 15px;
                line-height: 1.1;
            }
            img {
                opacity: .3;
            }
        }
        &:hover {
            background-color: #212a3a;
            input {
                background-color: #212a3a;
            }
            img {
                transition: all 2.5s;
                opacity: 1;
            }
            button {
                transition: all 1s;
                background-color: #5fbb2d;
            }
            .header__logo {
                transition: all 1s;
                background-color: #ca2c37;
            }
        }
        
    }
    &__logo {
        position: absolute;
        display: flex;
        justify-content: center;
        padding-top: 5px;
        width: 220px;
        height: 47px;
        text-align: center;
        text-transform: uppercase;
        font-family: Cuprum;
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        background-color: $main-color;
        box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
        
    }
    &__search {
        padding-left: 17px;
        width: 270px;
        margin-left: 220px;
        input {
            background-color: #293449;
            width: 220px;
            height: 100%;
            border: none;
            color: #fff;
            &::placeholder {
                color: #fff;
                opacity: 1;
            }
        }
        img {
            margin-right: 15px;
        }
    }
    &__bookmark {
        width: 160px;
        img {
            margin-right: 13px;
        }
    }
    &__cart {
        width: 150px;
        img {
            margin-right: 17px;
        }
    }
    &__offer {
        width: 150px;
        button {
            height: 100%;
            width: 100%;
            border: none;
            background-color: #63a63e;
            color: #fff;
            font-size: 15px;
        }
    }
    &__info {
        height: 115px;
    }
    &__info-items {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 50px;
        li {
            p {
                margin: 0;
            }
        }
    }
    &__descr {
        width: 196px;
        text-align: left;
        color: $main-color;
        font-family: Cuprum;
        font-weight: 400;
        font-style: italic;
        margin-right: 71px;
    }
    &__adress {
        width: 270px;
        margin-right: 69px;
        font-family: Cuprum;
        font-weight: 400;
        img {
            width: 18px;
            height: 19px;
            margin-right: 40px;
        }
        a {
            display: flex;
            align-items: center;
            height: 45px;
            border: 3px solid #fff;
            padding-left: 10px;
            font-size: 21px;
            line-height: 1;
            color: $main-color;
            margin-bottom: 10px;
            &:hover {
                text-decoration: none;
            } 
        }
        p {
            text-align: center;
            color: #32425c;
            font-size: 14px;
            padding: 0 10px;
        }
    }
    &__login {
        margin-right: 10px;
        font-family: Cuprum;
        font-weight: 400;
        button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 121px;
            height: 45px;
            background-color: #fff;
            border: none;
            padding: 0 27px 0 14px;
            img {
                width: 20px;
                height: 17px;
            }
            &:hover {
                color: #ee3643;
            }
        }
    }
    &__checkin {
        font-family: Cuprum;
        font-weight: 400;
        button {
            width: 150px;
            height: 45px;
            background-color: #fff;
            border: none;
            &:hover {
                color: #ee3643;
            }
        }
    }
    

    .nav {
        display: flex;
        align-items: center;
        width: 100%;
        height: 60px;
        list-style-type: none;
        background-color: #32425c;
        box-shadow: inset 0px -5px 0 0 #293449;
        padding: 0;
        font-family: Cuprum;
        font-weight: 400;
        li {
            height: 100%;
            &:hover {
                transition: all .5s;
                background-color: #293449;
            }
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                color: #fff;
                text-align: center;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        &__main {
            width: 135px;
        }
        &__company {
            width: 130px;
        }
        &__catalog {
            width: 125px;
        }
        &__news {
            width: 120px;
        }
        &__specoffer {
            width: 170px;
        }
        &__delivery {
            width: 130px;
        }
        &__contacts {
            width: 130px;
        }

        
    }
}
