.information {
    max-height: 520px;
    padding: 60px 0 50px;
    &__items {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
        margin: 0;
        
    }

    &__materials, &__tool, &__equipment, &__sale, &__delivery {
        display: flex;
        align-items: center;
        font-family: Cuprum;
        font-weight: 700;
        font-style: normal;
        width: 300px;
        height: 123px;
        color: #fff;
        a {
            display: block;
            width: 135px;
            height: 38px;
            font-family: Cuprum;
            font-weight: 400;
            font-style: normal;
            border-radius: 3px;
            color: #fff;
            background-color: rgba($color: #000000, $alpha: .1);
            text-align: center;
            padding-top: 5px;
            transition: all .3s;
            &:hover {
                background-color: rgba($color: #000000, $alpha: .2);
                text-decoration: none;
            }
        }
        p {
            font-size: 22px;
            line-height: 1.2;
        }
    }

    &__materials {
        background-color: #ffbf47;
        margin-right: 20px;
        a {
            margin-left: 25px;
        }
        p {
            margin-bottom: 15px;
            margin-left: 23px;
        }
        img {
            margin-left: 53px;
        }
    }

    &__tool {
        background-color: #3bbce3;
        margin-right: 20px;
        a {
            margin-left: 25px;
        }
        p {
            margin-bottom: 15px;
            margin-left: 23px;
        }
        img {
            margin-left: 37px;
        }
    }

    &__equipment {
        background-color: #dc91d8;
        margin-bottom: 20px;
        a {
            margin-left: 25px;
            background-color: rgba($color: #000000, $alpha: .1);
        }
        p {
            margin-bottom: 15px;
            margin-left: 23px;
        }
        img {
            margin-left: 33px;
        }
    }

    &__sale {
        background-color: #8ed78f;
        margin-bottom: 20px;
        a {
            margin-left: 25px;
        }
        p {
            margin-bottom: 15px;
            margin-left: 23px;
        }
        img {
            margin-left: 38px;
        }
    }

    &__delivery {
        background-color: #ffc047;
        a {
            margin-left: 25px;
        }
        p {
            margin-bottom: 15px;
            margin-left: 23px;
        }
        img {
            margin-left: 33px;
        }
    }

    &__slider {
        width: 620px;
        height: 266px;
        margin-right: 20px;
    }
    .swiper-container {
        width: 620px;
        height: 266px;
    }
    .swiper-pagination-bullets {
        position: absolute;
        bottom: 32px;
        left: 50%;
        width: 100px;
        transform: translateX(-50%);
    }
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: #fff;
        border: 2px solid #fff;
        opacity: 1;
        &-active {
            background-color: $main-color;
        }
    }
    .swiper-button-prev, .swiper-button-next {
        height: 40px;
        width: 22px;
        top: 52%;
        color: #fff;
    }
    .swiper-button-prev {
        left: 25px
    }
    .swiper-button-next {
        right: 20px;
    }
    .swiper {
        &__descr {
            position: absolute;
            top: 27px;
            left: 25px;
            font-family: Cuprum;
            font-weight: 700;
            font-style: normal;
            line-height: 1;
            color: #fff;
            margin-bottom: 0;
            font-size: 30px;
            text-transform: uppercase;
            width: 215px;
            span {
                font-family: Cuprum;
                font-weight: 400;
                font-style: normal;
                font-size: 15px;
                text-transform: none;
            }
        }
        &__link {
            width: 195px;
            height: 38px;
            position: absolute;
            bottom: 25px;
            left: 25px;
            border: none;
            padding: 0;
        }
    }
}