@media (max-width: 991px) {
    .header {
        height: 305px;
        padding-top: 74px;
        &__logo {
            width: 160px;
        }
        &__search {
            margin-left: 160px;
            input {
                width: 150px;
            }
            img {
                margin-right: 10px;
            }
        }
        &__info-items {
            padding-left: 27px;
        }
        &__descr {
            margin-right: 55px;
            width: 190px;
            font-size: 15px;
        }
        &__adress {
            margin-right: 53px;
            width: 190px;
            font-size: 17px;
            a {
                margin-bottom: 5px;
                font-size: 17px;
            }
            img {
                width: 15px;
                margin-right: 19px;
            }
            p {
                font-size: 11px;
                padding: 0 10px;
            }
        }
        &__login {
            button {
                width: 90px;
                padding: 0 12px;
                img {
                    width: 17px;
                }
            }
        }
        &__checkin {
            button {
                width: 105px;
            }
        }
        
    }

    .information {
        &__delivery, &__equipment, &__materials, &__sale, &__tool {
            width: 226px;
            height: 91px;
        }
        &__name {
            p {
                margin-left: 15px;
                font-size: 17px;
            }
            a {
                font-size: 14px;
                width: 114px;
                height: 33px;
                margin-left: 15px;
            }
        }
        &__materials {
            img {
                margin-left: 31px;
                width: 39px;
            }
        }
        &__tool {
            img {
                margin-left: 21px;
                width: 62px;
            }
        }
        &__equipment {
            img {
                width: 65px;
                margin-left: 17px;
            }
        }
        &__sale {
            img {
                margin-left: 16px;
                width: 50px;
            }
        }
        &__delivery {
            img {
                width: 65px;
                margin-left: 13px;
            }
        }
        &__slider {
            width: 472px;
            height: 202px;
            img {
                width: 472px;

            }
        }
        .swiper-container {
            width: 472px;
            height: 202px;
        }
        .swiper-pagination-bullets {
            bottom: 20px;
        }
        .swiper {
            &__descr {
                top: 11px;
                font-size: 20px;
                span {
                    font-size: 13px;
                }
            }
            &__link {
                width: 140px;
                height: 30px;
                font-size: 12px;
                bottom: 16px;
            }
        }
    }

    .title {
        &_block {
            height: 70px;
            h2 {
                font-size: 24px;
            }
            .link {
                height: 35px;
            }
        }
    }

    .popular {
        &__item {
            height: 300px;
            h3 {
                font-size: 16px;
                position: absolute;
                top: 160px;
            }
        }
        &__buttons {
            padding: 20px 32px;
            padding-top: 30px;
            height: 155px;
        }
        &__button-buy {
            width: 100px;
            margin-bottom: 28px;
            img {
                width: 15px;
                margin: 0;
                margin-right: 14px;
            }
        }
        &__button-bookmark {
            width: 100px;
        }
        &__price {
            width: 130px;
        }
        &__old-price {
            font-size: 16px;
        }
        &__actual-price {
            width: 110px;
        }
    }

    .brands {
        padding-bottom: 65px;
        &__item {
            margin: 0;
            width: 165px;
            height: 125px;
            margin-right: 20px;
            img {
                max-width: 150px;
            }
        }
        &__item:nth-child(4), 
        &__item:nth-child(8) {
            margin-right: 0;
        }
    }

    .service {
        padding-top: 50px;
        &__tab {
            height: 50px;
        }
        &__image {
            height: 150px;
        }
    }

    .company-contacts {
        padding-top: 50px;
        .contacts {
            &__text {
                margin-bottom: 57px;
            }
            &__open-map {
                top: 80px;
            }
        }
    }

    .footer {
        &__logo {
            width: 160px;
            height: 47px;
            padding-top: 5px;
            font-size: 22px;
        }
        &__navigation {
            height: 183px;
        }
        &__navigation-items {
            margin-left: 324px;
            font-size: 15px;
        }
        &__adress {
            font-size: 14px;
        }
        &__catalog {
            font-size: 15px;
            margin-left: 353px;
        }
        &__info {
            padding-top: 25px;
            height: 97px;
            font-size: 12px;
        }
        &__copyright {
            margin-right: 79px;
            width: 215px;

        }
        &__social {
            margin-right: 65px;
        }
        &__feedback {
            margin-right: 24px;
        }
    }

    .modal {
        width: 470px;
        height: 330px;
        .feed-form {
            padding: 30px 62px;
            height: 243px;
            label {
                font-size: 15px;
            }
            input {
                width: 170px;
                height: 34px;
                margin-top: 9px;
            }
            textarea {
                width: 343px;
                height: 90px;
            }
        }
        &__btn {
            margin: 24px auto;
            width: 343px;
            height: 34px;
        }
    }
}

@media (max-width: 768px) {
    .visually-hidden {
        display: none;
    }
    .header {
        max-height: 290px;
        padding-bottom: 40px;
        &__links {
            height: 35px;
        }
        &__links-items {
            li {
                a {
                    font-size: 14px;
                }
            }
        }
        &__logo {
            width: 115px;
            height: 37px;
            font-size: 12px;
        }
        &__search {
            margin-left: 116px;
            padding-left: 10px;
            width: 135px;
            font-size: 14px;
            img {
                width: 10px;
                margin-right: 5px;
            }
            input {
                width: 100px;
            }
        }
        &__bookmark {
            img {
                width: 10px;
                margin-right: 7px;
            }
        }
        &__cart {
            img {
                width: 10px;
                margin-right: 7px;
            }
        }
        &__offer {
            button {
                font-size: 14px;
                line-height: 1;
            }
        }
        &__info-items {
            padding-left: 16px;
        }
        &__descr {
            width: 124px;
            font-size: 12px;
            margin-right: 44px;
        }
        &__login {
            button {
                font-size: 14px;
                width: 80px;
                img {
                    width: 13px;
                }
            }
        }
        &__checkin {
            button {
                font-size: 14px;
                width: 97px;
            }
        }
        .nav {
            font-size: 13px;
            height: 52px;
        }
    }
    .information {
        &__items {
            li {
                margin: 0;
                &:nth-child(1), &:nth-child(2), &:nth-child(4) {
                    margin-right: 10px;
                }
                &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                    margin-bottom: 10px;
                }
            }
        }
        &__sale {
            margin: 0;
            margin-bottom: 10px;
        }
        &__delivery, &__equipment, &__materials, &__sale, &__tool {
            width: 173px;
            height: 71.3px;
        }
        &__sale-delivery {
            height: 141px;
        }
        &__name {
            margin: 0 auto;
            p {
                text-align: center;
                margin: 0;
                font-size: 14px;
                margin-bottom: 4px;
            }
            a {
                font-size: 13px;
                width: 100px;
                height: 28px;
                padding-top: 4px;
                margin: 0;
            }
        }
        &__slider {
            width: 356px;
            height: 153px;
            img {
                width: 356px;

            }
        }
        .swiper-container {
            width: 356px;
            height: 153px;
        }
        .swiper-pagination-bullets {
            bottom: 9px;
        }
        .swiper {
            &__descr {
                top: 7px;
                font-size: 13px;
                left: 15px;
                span {
                    font-size: 10px;
                }
            }
            &__link {
                width: 100px;
                height: 25px;
                font-size: 9px;
                bottom: 9px;
                left: 15px;
            }
        }
    }

    .title {
        margin-bottom: 26px;
        font-size: 24px;
        &_block {
            height: 45px;
            h2 {
                font-size: 18px;
            }
            .link {
                height: 27px;
                width: 150px;
                font-size: 10px;
                padding-top: 6px;
            }
        }
    }

    .popular {
        &__item {
            height: 230px;
            h3 {
                font-size: 12px;
                position: absolute;
                top: 110px;
            }
        }
        &__buttons {
            padding: 16px 19px;
            height: 155px;
        }
        &__button-buy {
            width: 80px;
            margin-bottom: 10px;
            padding-left: 23px;
            font-size: 12px;
            height: 33px;
            img {
                display: none;
            }
        }
        &__button-bookmark {
            font-size: 12px;
            height: 33px;
            width: 80px;
        }
        &__price {
            width: 80%;
        }
        &__old-price {
            font-size: 13px;
        }
        &__actual-price {
            width: 80%;
            font-size: 13px;
            height: 28px;
            padding-left: 16px;
            &::after {
                right: -16px;
                border-left: 16px solid #ee3643;
                border-top: 14px solid transparent;
                border-bottom: 14px solid transparent;
            }
        }
    }

    .brands {
        padding-bottom: 40px;
        &__item {
            width: 127.5px;
            margin: 0;
            margin-right: 10px;
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                margin-bottom: 10px;
            }
            img {
                width: 80%;
            }
        }
    }

    .service {
        padding-top: 30px;
        &__items {
            margin-top: 54px;
        }
        &__tabs {
            font-size: 17px;
        }
        &__tab {
            height: 45px;
        }
        &__text {
            font-size: 25px;
            p {
                margin-top: 26px;
                font-size: 11px;
            }
        }
        &__btn {
            width: 145px;
            height: 35px;
            font-size: 12px;
        }
    }

    .company-contacts {
        padding-bottom: 50px;
        max-height: 440px;
        &__items {
            height: 100%;
        }
        .company {
            width: 45%;
            .title {
                font-size: 22px;
            }
            &__text {
                font-size: 12px;
                max-height: 95px ;
                line-height: 1.6;
                span {
                    display: none;
                }
                br {
                    display: none;
                }
            }
            &__items {
                font-size: 15px;
                margin-bottom: 57px;
                li {
                    padding-left: 24px;
                    &:before {
                        top: 6px;
                        width: 15px;
                    }
                }
            }
        }
        .contacts {
            width: 45%;
            .title {
                font-size: 22px;
            }
            img {
                width: 100%;
            }
            &__text {
                font-size: 12px;
                line-height: 1.5;
                margin-bottom: 19px;
            }
            &__button {
                width: 100%;
            }
            &__open-map {
                top: 35px;
            }
        }
    }

    .footer {
        &__logo {
            width: 115px;
            height: 37px;
            padding-top: 4px;
            font-size: 18px;
        }
        &__navigation {
            padding-top: 32px;
            height: 135px;
        }
        &__adress {
            font-size: 11px;
            max-width: 100px;
            top: 65px;
        }
        &__navigation-items {
            margin-left: 194px;
            font-size: 13px;
        }
        &__catalog {
            font-size: 13px;
            margin-left: 170px;
        }
        &__info {
            max-height: 60px;
            padding: 0;
            padding-top: 15px;

        }
        &__info-items {
            font-size: 8px;
        }
        &__social-item {
            height: 30px;
            width: 30px;
            &:nth-child(1) {
                img {
                    width: 17px;
                }
            }
            &:nth-child(2) {
                img {
                    width: 8px;
                }
            }
            &:nth-child(3) {
                img {
                    width: 13px;
                }
            }
        }
    }
}

@media (max-width: 574px) {
    .container {
        width: 100%;
    }
    .visually-hidden-xs {
        display: none;
    }
    .header {
        max-height: 257px;
        padding-bottom: 20px;
        &__links-items {
            li {
                a {
                    display: flex;
                    align-items: center;
                    font-size: 13px;
                    height: 100%;
                    width: 100%;
                }
            }
        }
        &__links {
            position: fixed;
        }
        &__logo {
            width: 20%;
            font-size: 55%;
            padding-top: 10px;
        }
        &__search {
            margin-left: 20%;
            width: 40%;
            input {
                width: 74%;
                font-size: 13px;
            }
        }
        &__bookmark {
            width: 30%;
        }
        &__cart {
            width: 30%;

        }
        &__info-items {
            padding: 0;
            justify-content: space-around;
            li {
                margin: 0;
            }
        }
        &__descr {
            width: 20%;
            font-size: 10px;
        }
        &__adress {
            width: 25%;
            padding-left: 7px;
            font-size: 14px;
        }
        &__login {
            width: 15%;
            button {
                width: 100%;
                padding: 0;
                display: block;
                text-align: center;
                font-size: 12px;
            }
        }
        &__checkin {
            width: 20%;
            button {
                width: 100%;
                padding-left: 2px;
                padding-right: 2px;
                font-size: 12px;
            }
        }
        .nav {
            font-size: 10px;
            height: 45px;
        }
    }

    .information {
        padding: 20px 0 40px;
        max-height: 660px;
        &__items {
            max-height: 660px;;
            li {
                margin: 0 auto;
                &:nth-child(1), &:nth-child(2), &:nth-child(4) {
                    margin-right: auto;
                }
            }
        }
        &__sale {
            margin: 0;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        &__equipment, &__materials,  &__tool, &__sale-delivery, &__slider {
            width: 80%;
        } 
        &__equipment, &__materials,  &__tool {
        height: 71.3px;
        }
        &__sale, &__delivery {
            width: 100%;
            flex-direction: column;
        }
        &__name {
            margin: 11px auto;
        }
        &__slider {
            width: 80%;
            margin-bottom: 10px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .swiper-container {
            width: 100%;
        }
        .swiper-pagination-bullets {
            bottom: 9px;
        }
    }

    .popular {
        &__items {
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 0;
        }
        &__item {
            width: 40%; 
            height: 250px;
            margin: 0;
            h3 {
                position: relative;
                top: 55%;
                font-size: 17px;
            }
            &:nth-child(1), &:nth-child(2) {
                margin-bottom: 20px;
            }
        }
        &__buttons {
            width: 100%;
            height: 100px;
            padding: 10px;
            padding-top: 35px;
            padding-bottom: 0;
            button {
                width: 80%;
                padding: 0;
                text-align: center;
                justify-content: center;
                height: 30px;
            }
        }
        &__button-buy {
            font-size: 11px;
            margin: 0 auto;
            margin-bottom: 7px;
        }
        &__button-bookmark {
            font-size: 9px;
        }
        &__price {
            bottom: 10px;
        }
        &__old-price {
            font-size: 11px;
        }
        &__actual-price {
            width: 100%;
            height: 25px;
            padding: 0;
            margin-top: 5px;
            font-size: 12px;

            &::after {
                border: none;
            }
        }
    }
    
    .brands {
        &__items {
            padding-left: 3%;
        }
        &__item {
            height: 106px;
            width: 47%;
            margin-bottom: 20px;
            &:nth-child(2), 
            &:nth-child(4), 
            &:nth-child(6), 
            &:nth-child(8) {
            margin-right: 0;
            }
            &:nth-child(7),
            &:nth-child(8) {
                margin-bottom: 10px;
            }
        }
    }

    .title {
        margin-bottom: 15px;
        font-size: 22px;
        &_block {
            padding: 0 5px;
            h2 {
                line-height: 1.2;
                font-size: 15px;
            }
            .link {
                height: 22px;
                width: 120px;
                font-size: 10px;
                padding-top: 5px;
            }
        }
    }

    .service {
        padding: 30px 1% 0;
        &__descr {
            font-size: 12px;
        }
        &__text {
            font-size: 18px;
            p {
                margin-top: 15px;
                font-size: 10px;
            }
        }
        &__image {
            height: 100px;
        }
        &__items {
            margin-top: 40px;
        }
        &__tabs {
            margin-right: 40px;
            font-size: 14px;
        }
        &__tab {
            padding-left: 15px;
        }
        &__btn {
            width: 100px;
            height: 30px;
            font-size: 11px;
        }
    }

    .company-contacts {
        max-height: 380px;
        padding: 20px 1% 0;
        .title {
            margin-bottom: 20px;
            line-height: 1.2;
        }
        .company {
            .title {
                font-size: 20px;
            }
            &__text {
                br {
                    display: none;
                }
                p {
                    display: none;
                }
            }
            &__items {
                margin-bottom: 20%;
                li {
                    padding-left: 15px;
                    &::before {
                        width: 10px;
                    }
                }
            }
            .link {
                width: 100%;
                padding-top: 9px;
                font-size: 11px;
                height: 35px;
            }
        }
        .contacts {
            .title {
                font-size: 20px;
            }
            &__button {
                font-size: 11px;
                width: 96%;
                height: 35px;
            }
            &__open-map {
                top: 40px;
            }

        }
    }

    .footer {
        &__logo {
            width: 20%;
            font-size: 85%;
            padding-top: 7px;
            left: 0;
        }
        &__adress {
            font-size: 8px;
            top: 57px;
        }
        &__navigation-items {
            margin-left: 30%;
            font-size: 10px;
            margin-bottom: 19px;
        }
        &__navigation {
            padding: 22px 1% 0;
            height: 110px;
        }
        &__catalog {
            font-size: 10px;
            margin-left: 33%;
        }
        &__info {
            padding-top: 10px;
        }
        &__info-items {
            width: 100%;
            justify-content: space-around;
        }
        &__copyright {
            width: 33%;
            margin: 0;
        }
        &__social {
            width: 33%;
            margin: 0;
            padding-left: 3%;
        }
        &__feedback {
            width: 33%;
            margin: 0;
            padding-left: 5%;
        }
        &__developed {
            display: none;
        }
    }

    .modal {
        width: 75%;
        height: 330px;
        .feed-form {
            padding: 0;
            padding-top: 7%;
            height: 243px;
            display: block;
            margin: 0 auto;
            label {
                margin: 0 auto;
                display: block;
                font-size: 15px;
                width: 70%;
                margin-bottom: 10px;
            }
            input {
                width: 100%;
                height: 30px;
                margin-top: 4px;
                padding-left: 5px;
            }
            textarea {
                width: 100%;
                height: 50px;
                padding-left: 5px;
                margin-top: 4px;
            }
        }
        &__btn {
            width: 75%;
            padding: 0;
            height: 30px;
            font-size: 12px;
        }
    }
}