.popular {
    &__items {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin-bottom: 21px;
    }
    &__link-item {
        position: relative;
        color: #000;
        height: 100%;
        display: block;
        &:hover {
            color: #000;
            text-decoration: none;

        }
    }
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        &_on-hover {
            display: none;
        }
    }
    &__buttons {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        height: 170px;
        width: 218px;
        padding: 44px 42px 31px 41px;
        cursor: default;
        &_active {
            display: block;
        }
    }
    &__button-buy {
        display: flex;
        align-items: center;
        width: 135px;
        height: 38px;
        font-family: Cuprum;
        font-weight: 400;
        font-size: 13px;
        padding: 0 12px;
        margin-bottom: 7px;
        border: none;
        border-radius: 3px;
        box-shadow: inset 0px -3px 0 0 #367315;
        background-color: #63a63e;
        color: #fff;
        text-transform: uppercase;
        img {
            opacity: .3;
            margin-right: 22px;
        }
        &:hover {
            transition: all .3s;
            background-color: #5fbb2d;
            img {
                opacity: 1;
            }
        }
    }
    &__button-bookmark {
        font-family: Cuprum;
        font-weight: 400;
        font-size: 13px;
        text-transform: uppercase;
        width: 135px;
        height: 38px;
        border: solid 3px #63a63e;
        border-radius: 3px;
        background-color: #fff;
        color: #32425c;

    }
    &__item {
        width: 220px;
        height: 318px;
        font-family: PTSans;
        border: solid 1px #eaeaea;
        margin-right: 20px;
        text-align: center;
        &:last-of-type {
            margin-right: 0;
        }
        h3 {
            position: absolute;
            top: 170px;
            font-weight: 700;
            margin-bottom: 20px;
            line-height: 1.1;
        }
        &:hover {
            transition: all .5s;
            border: none;
            box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
        }
    }
    &__price {
        width: 140px;
        font-weight: 700;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__old-price {
        font-weight: 700;
        text-decoration: line-through;
        color: #b4b4b4;
    }
    &__actual-price {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $main-color;
        position: relative;
        color: #fff;
        height: 38px;
        width: 120px;
        margin-top: 10px;
        padding-left: 20px;
        &:after {
            content: '';
            position: absolute;
            height: 0;
            width: 0;
            right: -20px;
            border-left: 20px solid $main-color;
            border-top: 19px solid transparent;
            border-bottom: 19px solid transparent;
        }
    }
}