.service {
    max-height: 560px;
    padding-top: 68px;
    background-color: #f4f8f9;
    &__descr {
        font-family: PTSans;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.85; 
    }
    &__tabs {
        width: 240px;
        height: 185px;
        font-family: Cuprum;
        font-size: 21px;
        font-weight: 700;
        font-style: normal;
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-right: 80px;
    }
    &__tab {
        width: 100%;
        height: 61px;
        box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
        background-color: #32425c;
        color: #fff;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 22px;
        cursor: pointer;
        &:hover {
            background-color: #293449;
        }
        &_active {
            box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
            background-color: #ffffff;
            color: #32425c;
            cursor: default;
            &:hover {
                background-color: #ffffff;
            }
        }
        
    }
    &__content {
        position: relative;
        width: 619px;
        display: none;
        &_active {
            display: block;
        }
    }
    &__text {
        max-width: 380px;
        min-height: 147px;
        font-family: Cuprum;
        font-size: 35px;
        line-height: 1;
        color: #32425c;
        text-transform: uppercase;
        p {
            font-family: PTSans;
            font-size: 13px;
            font-weight: 400;
            line-height: 1.8;
            color: #000;
            text-transform: none;
            margin: 0;
            margin-top: 30px;
        }
    }
    &__items {
        display: flex;
        margin-top: 74px;
        height: 261px;
    }
    &__image {
        position: absolute;
        height: 261px;
        bottom: 0;
        right: 0;   
    }
    &__btn {
        width: 195px;
        height: 38px;
        font-family: Cuprum;
        font-weight: 400;
        background-color: $main-color;
        color: #fff;
        text-align: center;
        border: none;
        border-radius: 3px;
        font-size: 13px;
        text-transform: uppercase;
    }
}