.title {
    margin-bottom: 36px;
    text-transform: uppercase;
    &_block {
        width: 100%;
        height: 89px;
        background-color: #f9f5f0;
        color: #32425c;
        padding: 0 24px 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 21px;
        h2 {
            margin: 0;
        }
    }
}